@import url('https://fonts.googleapis.com/css2?family=Bangers&family=IM+Fell+French+Canon+SC&display=swap');


.about{
    width: 100%;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(20, 20, 20, 0);
    /* background: url('../../assets/abt-bg.jpg');
    background-size: cover; */
}
  .about-section-title{
        width: 100%;
        margin-top: 30px;
        font-family: 'Orbitron', sans-serif;
          color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: white;
          text-shadow: -5px 0 40px #fff, 5px 0 40px #fff, 0 0 20px #fff; 
      }
.about-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    text-align: justify;
}
.about-txt{
    font-size: 32px;
    font-family: 'Bangers', cursive;
}
@media (max-width: 768px) {
    .about-content {
        width: 85%; 
        text-align: center;
    }

    .about-txt {
        font-size: 24px; 
    }
    .about-section-title{
        width: 100%;
        margin-top: 30px;
        font-family: 'Orbitron', sans-serif;
          color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: white;
          text-shadow: -5px 0 40px #fff, 5px 0 40px #fff, 0 0 20px #fff; 
      }
    
}
