@import url('https://fonts.googleapis.com/css2?family=Bangers&family=IM+Fell+French+Canon+SC&display=swap');


.about{
    width: 100%;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url('../../assets/abt-bg.jpg');
    background-size: cover; */
}

.about-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    text-align: justify;
}
.about-txt{
    font-size: 38px;
    font-family: 'Bangers', cursive;
}
@media (max-width: 768px) {
    .about-content {
        width: 85%; 
        text-align: center;
    }

    .about-txt {
        font-size: 24px; 
    }
}
