@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron:wght@900&display=swap');

  .technical-page {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background: url('../../assets/TechnicalChapter/background.jpg'); */
    /* background: url('../../assets/galaxy-bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .technical-label {
    height: auto;
    width: 90%;
    text-align: center;
    margin-top: 30px;
  }

  .technical-text-wrapper {
    color: #ffffff;
    font-family: "Orbitron-Bold", Helvetica;
    font-size: 20px; /* Font size for mobile */
    font-weight: 700;
    text-shadow: 0px 9px 3px #b944f0;
    margin-bottom: 15px;
  }

  .technical-container {
    /* background-color: rgba(255, 255, 255, 0.1); */
    border-radius: 0px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%; /* Card size for mobile */
    width: 90%; /* Card size for mobile */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 52px;
  }

  .technical-title-label {
    width: 90%;
    margin-top: 30px;
  }
  
  .technical-title-text {
    -webkit-text-stroke: 4px #ffffff;
    color: transparent;
    font-family: "Orbitron-Black", Helvetica;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 0px 0px 50px #ffffff;
    width: 100%;
    text-align: center;
  }

  .technical-section-title {
    font-family: 'Orbitron', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: -5px 0 40px #fff, 5px 0 40px #fff, 0 0 20px #fff; 
    font-size: 52px; /* Font size for mobile */
  }

  @media (min-width: 768px) {
    /* Apply styles for desktop */
    .technical-text-wrapper {
      font-size: 40px; /* Font size for desktop */
    }
    .technical-container {
      max-width: 900px; /* Card size for desktop */
      width: 90%; /* Card size for desktop */
    }
    .technical-section-title {
      font-size: 52px; /* Font size for desktop */
    }
  }