header {
    text-align: center;
    padding: 30px 0;
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    /* background-image: url('../../assets/Judges/background.jpg'); */
    /* background: url('../../assets/galaxy-bg.jpg'); */
    background-size: cover;
    background: rgba(20, 20, 20, 0);
}


  .cardi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;
    background: rgba(20, 20, 20, 0);
  }

  .cardi {
    background: rgba(20, 20, 20, 0); /* Transparent background */
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
  }

  .cardi img {
    width: 100%;
    border-radius: 50%;
  }

  .cardi h2 {
    margin-top: 5px;
    font-size: 1.5em;
    color: #ffffff;
  }

  .cardi p {
    margin-top: 5px;
  }

  header {
    padding: 30px 0;
  }