@import "bootstrap/dist/css/bootstrap.min.css";
body{
    overflow-x: hidden;
}
section{
    width: auto;
    background: linear-gradient(135deg,#111,#222,#111);
}
section i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff;
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@media (max-width: 768px){
    *{
        overflow-x: hidden;
    }
    h1{
        overflow: hidden;
    }
    h2{
        overflow: hidden;
    }
    p{
        overflow: hidden;
    }
}